@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
	background-color: black;
	color: white;
	font-family: 'Inter', sans-serif;
	text-align: center;
}

div{
	position: absolute;
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -50%);
}